---
import Layout from '../layouts/Layout.astro';
import hearthHeader from "../images/hearth-header.svg"
---

<Layout title="HEARTH 2022-12">
  <main class="p-4 space-y-4">
    <div class="text-center">
      <a href="/"><img class="md:w-[80ch]" alt="Hearth" src={hearthHeader} ></a>
      <p class="-mt-6 text-xl text-gray-800">A festive retreat</p>
    </div>
    <div class="text-center text-lg -mt-32 space-y-4 text-gray-500">
      <p class="flex justify-center items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
        </svg>


        <span>December 9–11, 2022</span>
      </p>
      <p class="flex justify-center items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
        </svg>

        <span>
          <a href="https://www.glin-castle.com/" target="_new" class="hover:underline text-[#ff851f]">Glin Castle</a>, Co. Limerick
        </span>
      </p>
    </div>

    <div class="text-justify text-lg space-y-4 text-gray-500 prose">
      <p>
        The first Hearth is a pilot edition. Taking place just before Christmas, it will be a festive affair. There will be mince pies. There will be wine. There will be mulled wine.
      </p>
      <p>
        The first night is an informal dinner. 15 bedrooms means a healthy but modest capacity, with lots of opportunities to chat and mingle with everyone. Families are welcome. Kids are welcome.
      </p>

      <p>
        During the second day, we’ll enjoy a late breakfast, a group activity before lunch. A picnic lunch will take us into hearing stories from everyone attending, followed by a series of short interviews. We’ll record everything and share the recordings after the show.
      </p>

      <p>Drinks and dinner will round out the occasion, with a short after-dinner activity before a wind down into the wee hours.</p>

      <p class="flex items-center">
        <span class="flex-1">Sound like your thing?</span>
        <a class="font-bold border border-[4px] p-1 border-[#ff851f] text-[#ff851f] hover:bg-[#ff851f] hover:text-white cursor-pointer" href="#/tito/hearth/2022-12/en/registrations/new">
          Register now
        </a>
      </p>
    </div>
  </main>
</Layout>