---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import bottomRule from "../images/bottom-rule.svg"
import topRule from "../images/top-rule.svg"
import hearthHeader from "../images/hearth-header.svg"
import smallRule from "../images/small-rule.svg"

---

<Layout title="HEARTH">
	<main class="md:grid grid-cols-1 md:grid-cols-3 md:p-4 text-xl md:gap-4">
		<div class="p-4 md:p-0 col-span-2">
			<img alt="Hearth" src={hearthHeader} >
		</div>
		<div class="bg-white p-4 flex flex-col items-center justify-center">
			<h1 class="text-[#ff851f] text-xl">HEARTH</h1>
			<p>a <em>modest gathering</em></p>
			<p><strong>Happening</strong> December 9–11, 2022</p>
			<p><a href="https://www.glin-castle.com/" target="_new" class="hover:underline text-[#ff851f]">Glin Castle</a>, Co. Limerick</p>
		</div>
		<div class="p-4 flex flex-col items-center justify-center">
			<p>Join us for 2 nights of relaxing "by the hearth", dining together, enjoying the festive spirit, and sharing stories.</p>
		</div>
		<div class="bg-white p-4 flex flex-col h-64 min-h-full items-center justify-center">
			<p>With only 15 rooms, this will be an intimate affair. Families welcome! Bring yourself, your experience, and an open mind.</p>
		</div>

    <a class="m-4 md:m-0 border-4 border-[#ff851f] h-64 min-h-full p-4 flex flex-col items-center justify-center hover:bg-[#ff851f] hover:text-white cursor-pointer" href="#/tito/hearth/2022-12/en/registrations/new" class="border p-4 hover:text-white cursor-pointer">
			Register
		</a>
	</main>
	<div class="sticky top-0 right-0 bottom-0 left-0">
		
	</div>
	<main class="m-[40px] p-[40px] md:p-[80px] md:m-[80px] bg-white relative bg-opacity-95 text-center">

		<div class="headlines">
			
		</div>

		<div class="register">
		
			
		</div>

		<footer>
			Hosted by
			<a class="text-blue-500 hover:underline" href="https://twitter.com/davidcoallier">David</a> &
			<a class="text-blue-500 hover:underline" href="https://twitter.com/paulca">Paul</a>.
		</footer>
	</main>
</Layout>

