---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import bottomRule from "../images/bottom-rule.svg"
import topRule from "../images/top-rule.svg"
import hearthHeader from "../images/hearth-header.svg"
import smallRule from "../images/small-rule.svg"

---

<Layout title="HEARTH">
	<main class="p-4 flex flex-col gap-4 w-full items-center justify-center">
		<img alt="Hearth" src={hearthHeader} >

    <div class="text-justify text-lg space-y-4 text-gray-500 prose">
      <p>
      	What if you took the chilled out vibe from a family celebration and crossed it with the hallway track of a tech conference? What if you gathered interesting people in a room for a few days just to see what happened?
      </p>

      <p>The response to both of those questions is <strong>Hearth</strong>. It’s a gathering of folks in a remarkable venue, with delicious food, some choice activities, and lots of space: space to hang out, space to think, and space to share ideas. By the hearth.</p>
    </div>

    <a class="md:m-0 border-8 border-[#ff851f] h-64 min-h-full p-4 flex flex-col hover:bg-[#ff851f] hover:text-white cursor-pointer justify-center w-full" href="/2022-12" class="border p-4 hover:text-white cursor-pointer">
			<h4 class="font-bold text-[3rem]">2022-12</h4>
			<p class="text-[1.5rem]">A festive retreat</p>
    </a>
	</main>
</Layout>


