---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import bottomRule from "../images/bottom-rule.svg"
import topRule from "../images/top-rule.svg"
import hearthHeader from "../images/hearth-header.svg"
import smallRule from "../images/small-rule.svg"

---

<Layout title="HEARTH">
	<main class="p-4 flex flex-col gap-4 w-full items-center justify-center">
		<img alt="Hearth" src={hearthHeader} >

    <div class="text-justify text-lg space-y-4 text-gray-500 prose">
      <p>
        When Paul told David he was working on a sequel of sorts to Funconf in 2023, David wished aloud he could do something sooner.
      </p>
      <p>When Michael and Paul were chatting about the format of their "third-family" retreats, Michael suggested that it would be good to shake up the group occasionally.</p>

      <p>The response to both of those questions is Hearth. It’s a gathering of folks in a beautiful venue, with delicious food, a few activities, but mostly lots of space: space to hang out, space to think, and space to share ideas. By the hearth.</p>
    </div>

    <a class="md:m-0 border-8 border-[#ff851f] h-64 min-h-full p-4 flex flex-col hover:bg-[#ff851f] hover:text-white cursor-pointer justify-center w-full" href="/2022-12" class="border p-4 hover:text-white cursor-pointer">
			<h4 class="font-bold text-[3rem]">2022-02</h4>
			<p class="text-[1.5rem]">A festive retreat</p>
    </a>
	</main>
</Layout>


