---
import Layout from '../layouts/Layout.astro';
import hearthHeader from "../images/hearth-header.svg"
---

<Layout title="HEARTH 2022-12">
  <main class="p-4 space-y-4">
    <div class="text-center">
      <a href="/"><img class="md:w-[80ch]" alt="Hearth" src={hearthHeader} ></a>
      <p class="-mt-6 text-xl text-gray-800">What?</p>
    </div>

    <div class="text-justify text-lg space-y-4 text-gray-500 prose">
      <dl>
        <dt class="font-bold">What’s the point of Hearth?</dt>
        <dd>
          <p>
            Most events are designed around relationships. Often this is described as ”Networking”, using a term borrowed from technology. Just like TCP/IP, networking can end up being strictly transactional, seeking to extract opportunities from each other according to often commercial needs.
          </p>

          <p>
            An event like Hearth is <em>all</em> about relationships, but rather than being transactional, surface-level, the goal is to build deeper, stronger, human relationships. Rather than exploring each other’s “what” (who are you? what do you do?) we explore the “why”: what is your purpose? why do you do what you do?
          </p>

          <p>
            In addition, there’s no commercial incentive. We’re not seeking to match-make, or bring in sponsors, or any of that. It’s just hanging out.
          </p>

          <p>
            That’s not to say that there’s no commercial incentive, just that it’s way down the list of priorities.
          </p>
        </dd>

        <dt class="font-bold">Who is it for?</dt>
        <dd>
          <p>
            That’s a good question to which we don’t have a good anwswer. In a pinch, try this: Hearth is for curious people. For people who like to learn, who like to push things forward, who like to explore the world and themselves.
          </p>
        </dd>

        <dt class="font-bold">What’s the cost breakdown?</dt>
        <dd>
          The cost includes two nights accommodation, two breakfasts, two dinners and lunch, plus group activities. It’s roughly 60% accommodation, 30% food, 10% activities. We just don’t want to be out of pocket.
        </dd>

        <dt class="font-bold">What’s the food situation?</dt>
        <dd>
          Food is provided on-site by the castle chef. We’re going to ask for all plated food to be vegetarian by default. Meat options will be available either as a buffet or in the centre of the table. There will be plenty and it will be delicious.
        </dd>

        <dt class="font-bold">Are families really welcome?</dt>
        <dd>
          <p>Yes! While we won’t have a specific "kids" programme, we can arrange child-minding and some activities depending on specifics.</p>
          <p>We should be able to arrange some single extra beds in your room for kids.</p>
          <p>If you have special requirements, talk to us (ie. me. I'm bringing my kids —Paul)!</p>
        </dd>

        <dt class="font-bold">Why does it have to be a castle?</dt>
        <dd>
          <p>Because Ireland does this so well. It’s part self-care, part self-indulgence, so that you don’t need to worry about anything other than reflecting, chatting, discussing.</p>

          <p>It’s not a hotel, so it’s much more of a familial vibe, and residences like this were literally built for gathering and discussing big ideas.</p>

          <p>Also, castles are wonderful places to maximise serendipity. There are nooks, corners, snugs aplenty. So many places to have different kinds of spontaneous chats.</p>

          <p>Finally, castles are extraordinarily fun.</p>
        </dd>

        <dt class="font-bold">Do I need to dress up?</dt>
        <dd>
          No, but if you want to, do! As places to wear fancy clothes go, you’ll fit right in. Either way, it’s fine. Very much "you be you".
        </dd>

        <dt class="font-bold">Is there electric car charging available?</dt>
        <dd>
          Not on premise alas. We might be able to figure out an extension cable. <a href="https://barackobamaplaza.ie" target="_new">Barack Obama Plaza</a> (a real place that exists) has a charging station.
        </dd>

        <dt class="font-bold">I have more questions!</dt>
        <dd>
          Ask Paul on Twitter <a href="https://twitter.com/paulca">@paulca</a> or Mastodon <a href="https://mastodon.social/@paulca">@paulca@mastodon.social</a> or email <a href="mailto:paul@tito.io">paul@tito.io</a>.
        </dd>
      </dl>


      <p class="flex items-center justify-center">
        <a class="font-bold border border-[4px] p-1 border-[#ff851f] text-[#ff851f] hover:bg-[#ff851f] hover:text-white cursor-pointer" href="#/tito/hearth/2022-12/en/registrations/new">
          Register now for 2022-12
        </a>
      </p>
    </div>
  </main>
</Layout>

<style>
  dt { @apply text-xl }
  p { margin-bottom: 1rem; }
  dt { margin-bottom: 0.25rem; }
  dd { margin-bottom: 3rem; }
</style>