---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://js.tito.io/v2" async></script>
	</head>
	<body>
		<div class="mx-auto max-w-lg sm:px-6 lg:px-8">
		  <div class="mx-auto max-w-lg">
		    <slot />
		  </div>
		</div>
		

		<footer class="p-4 text-center">
			From
			<a class="text-blue-500 hover:underline" href="https://twitter.com/davidcoallier">David</a> &
			<a class="text-blue-500 hover:underline" href="https://twitter.com/paulca">Paul</a>.
		</footer>
	</body>
</html>
<style is:global>
	/*html {
		font-family: system-ui, sans-serif;
		background-image: url('/src/images/bg-pattern.png');
	}
	body {
		margin: 0;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.hidden {
		display: none;
	}
	.flex {
		display: flex;
	}*/
</style>
